body {
    text-align: center;
    background-color: rgb(23, 169, 181);
}

#title {
    background-color: rgb(81, 179, 89);
    text-align: center;
    color: white;
    padding: 25px;
}

.content-padding {
    padding: 7% 15%;
}

.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

.title-image {
    width: 110%;
    position: relative;
    right: 5%;
    top: 5%;
}

.user-button {
    margin: 5% 3% 5% 0;
}

@media (max-width: 1473px) {
    .title-image {
      position: relative;
      top: 24%;
      right: -15%;
    }
}

@media (max-width: 991px) {
    .title-image {
        position: relative;
        right: 15%;
    }
}

/* Registration Form */

.container-fluid {
    --bs-gutter-x: 0;
}

.wrapper {
    border-top: 3px solid green;
}

.navbar {
    background-color: rgb(130, 200, 135);
    padding: 0.625 0;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
}

.content-background {
    background-color: rgb(205, 233, 207);
}